/* COMPONENTS */

/* HEADER */
header {
  border-bottom: 1px solid yellow;
}

ul.header-nav-list {
  margin: 20px;
}
ul.header-nav-list li {
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}
.header-nav-list li a {
  min-height: 130px;
  padding: 10px;
  color: yellow;
  font-size: 30px;
}
.header-nav-list li :hover {
  background-color: rgb(236, 236, 169);
}

.logo h1 {
  color: yellow;
  font-size: 40px;
  margin-left: 5px;
}
