/* SETUP */

/* vars */

:root {
  /* color palete */

  /*main-text-header*/
  --clr1: rgb(225, 225, 74);
  /*main-text-header*/
  --clr5: yellow;

  /*borders*/
  /*border-cliced button*/
  --clr2: greenyellow;

  /*border-main*/
  --clr3: blanchedalmond;
  /*border-card*/
  --clr4: rgb(46, 45, 45);
  /*footer-text*/

  /* letter spacing */

  /* --normal-letter-spacing: 0.03em; */
  /* --large-letter-spacing: 0.05em; */

  /* mq variables */

  --large: 1060px;
  --medium: 900px;
  --small: 500px;
  --extraSmall: 380px;
}
