/* SETUP */

/* vars */

:root {
  /* color palete */

  /*main-text-header*/
  --clr1: #ffffff;
  /*main-text-header*/
  --clr5: yellow;

  /*borders*/
  /*border-cliced button*/
  --clr2: #58c93a;

  /*border-main*/
  --clr3: #c2c2c2;
  /*border-card*/
  --clr4: #292929;
  /*footer-text*/

  /* letter spacing */

  /* --normal-letter-spacing: 0.03em; */
  /* --large-letter-spacing: 0.05em; */

  /* mq variables */

  --large: 1060px;
  --medium: 900px;
  --small: 500px;
  --extraSmall: 380px;
}
