/* SETUP */

/* vars */

:root {
  /* color palete */

  /*main-text*/
  /* --clr1: #606060; */

  /*buttons*/
  /*page-navigation-buttons*/
  /* --clr7: #818181; */
  /*footer-text*/

  /* letter spacing */

  /* --normal-letter-spacing: 0.03em; */
  /* --large-letter-spacing: 0.05em; */

  /* mq variables */

  --large: 1060px;
  --medium: 860px;
  --small: 500px;
}

/* typography */

@font-face {
  font-family: eurofurence;
  src: url(../fonts/eurofurenceregular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}

/* BASICS */

/* base */

* {
  box-sizing: border-box;
}

html {
  font-family: lato-regular, sans-serif;
  color: var(--clr1);
  line-height: 1.25;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/background/background2.png);
  background-size: cover;
}

.card {
  max-width: 220px;
  max-height: 220px;
  border: 2px solid black;
  border-radius: 10px;
}

.border {
  border: 2px solid blanchedalmond;
}
/* layout */

.main-layout {
  max-width: var(--large);
  margin-inline-end: auto;
  margin-inline-start: auto;
}

/* helpers */

/* background helpers*/
.glass {
  background: linear-gradient(
    135deg,
    rgba(208, 204, 204, 0.183),
    rgba(164, 158, 158, 0.292)
  );
  /* backdrop-filter: blur(10px); */
  box-shadow: 0 8px 32px rgb(13, 13, 13, 0.37);
}
/* flex helpers */

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.column {
  flex-direction: column;
}

/* list helpers */
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.hide {
  display: none;
}
/* COMPONENTS */

/* HEADER */
header {
  border-bottom: 1px solid yellow;
}

.header-nav-list li {
  border: 1px solid black;
}
.header-nav-list li a {
  min-height: 130px;
  padding: 10px;
  color: yellow;
  font-size: 30px;
}

main {
  /* max-width: 100%; */
  min-width: var(--large);
  margin-inline-end: auto;
  margin-inline-start: auto;
  margin-top: 10px;
}
/* GALLERY */
.container-gallery {
  max-width: 100%;
}
.header-gallery input {
  height: 50px;
  width: 320px;
  border-radius: 20px;
}
.header-gallery ul.sort-gallery li {
  color: orange;
  font-size: 20px;
  margin: 20px;
}

.container-gallery .header-gallery {
  max-width: 90%;
}
.container-gallery .content-gallery {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 5px;
}

/* EDITOR */
.container-generator .container-canvas {
  margin-inline-end: 10px;
}
.container-generator .container-canvas img {
  max-width: 40px;
}
.container-generator .container-editor {
  margin-inline-start: 10px;
  flex-basis: 50%;
}
.container-generator .container-editor img {
  max-width: 40px;
}

/* canvas */
canvas#my-canvas {
  background-color: aliceblue;
}

/* modal */
.modal-term {
  position: fixed;
  border-radius: 20px;
  min-width: 80px;
  min-height: 50px;
}
/* MQ */
